* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}


body {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  background-color: #002B5B;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* Horizontal center */
  align-items: center;     /* Vertical center */
}

.container {
  background-color: #006BB6;
  padding: 30px;
  width: 100%;
  max-width: 450px;
  border-radius: 20px;
  color : #FFFFFF;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2{
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 30px;
}

form{
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-size: 16px;
}

input[type="text"],
#todo-input {
    padding: 10px;
    width: 100%;
    margin-bottom: 15px;     
    font-size: 16px;   
    border-radius: 6px; 
    border: 1px solid #006BB6;
    background-color: #FFFFFF;
    color: #000000;
}

input::placeholder {
  color: #616d76;
  font-family: "Oswald", sans-serif;
}

.password-wrapper{
  position: relative;
  width: 100%;
}

.password-wrapper input {
  display: block;
  padding: 10px;
  width: 100%;
  margin-bottom: 15px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #006BB6;
  background-color: #FFFFFF;
  color: #000000;
}

    
.toggle-btn {
  position: absolute;
  top: 35%;
  right: 10px; 
  transform: translateY(-50%);
  border: none;
  background: none;
  cursor: pointer;
  font-size: 16px;
  color: #006BB6;
}


button {
    padding: 10px;
    font-size: 16px;   
    border-radius: 10px; 
    border: 1px solid #006BB6;
    background-color: #002B5B;
    color: #FFFFFF;
    box-sizing: border-box;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: "Oswald" , sans-serif;
}

button:hover{
  background-color: black;
}

.done-btn, .delete-btn {
  transition: background-color 0.3s;
}

.delete-btn:hover {
  background-color: #ff4d6d;
}

.done-btn:hover {
  background-color: #009688;
}

a{
  color: #FF596B;
  border-color: #ff001e;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

ul {
  list-style-type: none;
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 5px;  
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}


li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  margin-bottom: 10px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 16px;
  /* animation: fadeIn 0.3s ease-out; */
}

.btn-container {
  display: flex;
  gap: 5px;
  margin-left: auto; 
}

p {
  margin-top: 15px;
}
