.colorbar{
    margin-top: 650px;
    align-items: center;
    padding: 10px 30px;
    margin-left: 20px;
    margin-right: 600px;
    
}

body{
    background-color: #282c34;
}

button {
    margin-left: 20px;
    padding: 2px 10px;
    color: white;
    font-size: 20px;
    border-radius: 7px;
}

#red{
    background-color: red;
    
}

#yellow{
    background-color: yellow;
    color: black ;
}

#black{
    background-color: black;
}

#lightblue{
    background-color: lightblue;
    color: black ;
}

#green{
    background-color: green;
}

#default{
    background-color: orange;
}
